.navbar {
  display: flex;
  box-sizing: border-box;
  background-color: #fff;
  justify-content: space-between;
  padding: 0 3%;
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 18px;
  height: 8vh;
}
.navbarMid {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  align-items: center;
}
.navbar a {
  text-decoration: none;
  color: #000;
}
.signIn {
  background-color: #fff;
  border: 1px solid rgb(176, 0, 32);
  height: 6vh;
  width: 8vw;
  border-radius: 7%;
  margin: 1vh 0;
}
