.navbar {
  display: flex;
  box-sizing: border-box;
  background-color: #fff;
  justify-content: space-between;
  padding: 0 3%;
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 18px;
  height: 8vh;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.navbarMid {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  align-items: center;
}
.navbarMid a {
  text-decoration: none;
  color: #000;
}
.navbarRight {
  display: flex;
  align-items: center;
  justify-content: center;
}
.signIn {
  background-color: #b00020;
  height: 80%;
  width: 10vw;
  color: #fff;
  text-decoration: none;
  border-radius: 9%;

  display: flex;
  justify-content: center;
  align-items: center;
}
